body
{
    text-align: center;
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    color: black;
}

.tab-panel { display: none;}
#home-tab:checked ~ main #home,
#streaming-tab:checked ~ main #streaming,
#link-tab:checked ~ main #links { 
    display: block; 
}
