body
{
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    color: black;
    margin: 0;
}

img
{
    max-width: 25%;
    height: auto;
}

.tab-control 
{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.tab-link 
{
    padding: 25px;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s;

    border-color: black;
    color: rgb(0, 0, 0);
    border: solid black;

    background-color: rgb(188, 91, 0);
    font-weight: bold;

    background-color: black;
    color: white;
    font-size: 1.25vw;
    margin: 3.5vh 0px;
}

.tab-link:hover 
{
    transform: translateX(20px);

    background-color: rgb(122, 59, 0);
    font-weight: bold;

    border-color: black;
    color: rgb(0, 0, 0);
    border: solid black;
}

.container 
{
    background-image: url("images/haikuyuu.png"); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    background-attachment: fixed; 

    display: flex;
    gap: 0px;
    margin: 0 auto;
    padding: 0px;
}

.sidebar 
{
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home-tab:checked ~ .container .sidebar label[for="home-tab"],
#streaming-tab:checked ~ .container .sidebar label[for="streaming-tab"],
#link-tab:checked ~ .container .sidebar label[for="link-tab"],
#lists-tab:checked ~ .container .sidebar label[for="lists-tab"] 
{
    background-color: rgb(5, 0, 51);
    font-weight: bold;

    border-color: black;
    color: rgb(255, 255, 255);
    border: solid black;
}

.titles 
{
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin: 3vh;
}

main 
{
    flex: 1; 
    text-align: center;
    padding: 20px;
    display: flex;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centeredItems
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.block
{
    padding: 10px 15px;
    transition: background-color 0.3s;
    background-color: white;

    border-color: black;
    border: solid black;
    border-radius: 50px;
    
    align-content: center;
    width: 50%;
    margin: 0 auto;
}

.tab-panel {
    display: none;

}
#home-tab:checked ~ .container main #home,
#streaming-tab:checked ~ .container main #streaming,
#link-tab:checked ~ .container main #links,
#lists-tab:checked ~ .container main #lists { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#home-tab:checked ~ .container {
    background-image: url("images/haikuyuu.png");
}

#streaming-tab:checked ~ .container {
    background-image: url("images/RamBckgrnd.jpg");
}


#link-tab:checked ~ .container {
    background-image: url("images/halo2.png");
}

#lists-tab:checked ~ .container {
    background-image: url("images/Itatchi.jpg");
}

#home-tab:checked ~ .container .tab-link {
    background-color: rgb(188, 91, 0);
}

#streaming-tab:checked ~ .container .tab-link {
    background-color: rgb(72, 4, 88);
}

#link-tab:checked ~ .container .tab-link {
    background-color: rgb(10, 65, 10);
}

#lists-tab:checked ~ .container .tab-link {
    background-color: rgb(250, 41, 41);
}